* Install JDK
* download and unpack spark
+1

In [4]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
![ ! -e "$(basename spark-2.4.1-bin-hadoop2.7.tgz)" ] && wget  http://apache.osuosl.org/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
!tar xf spark-2.4.1-bin-hadoop2.7.tgz

--2019-04-09 12:28:17--  http://apache.osuosl.org/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
Resolving apache.osuosl.org (apache.osuosl.org)... 64.50.233.100, 64.50.236.52, 140.211.166.134, ...
Connecting to apache.osuosl.org (apache.osuosl.org)|64.50.233.100|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 230778742 (220M) [application/x-gzip]
Saving to: ‘spark-2.4.1-bin-hadoop2.7.tgz’

spark-2.4.1-bin-had 100%[===================>] 220.09M  24.6MB/s    in 7.9s

2019-04-09 12:28:25 (28.0 MB/s) - ‘spark-2.4.1-bin-hadoop2.7.tgz’ saved [230778742/230778742]

* install `findspark` for python to access spark
* download two datasets

*(3)*

In [7]:
!pip install -q findspark

! [ ! -e "$(basename ss.csv)" ] && wget  https://raw.githubusercontent.com/borodark/wsu/master/platforms/assignment_4/ss.csv

! [ ! -e "$(basename ch.csv)" ] && wget  https://raw.githubusercontent.com/borodark/wsu/master/platforms/assignment_4/ch.csv

--2019-04-09 12:35:16--  https://raw.githubusercontent.com/borodark/wsu/master/platforms/assignment_4/ch.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 213061 (208K) [text/plain]
Saving to: ‘ch.csv’

ch.csv              100%[===================>] 208.07K  --.-KB/s    in 0.02s

2019-04-09 12:35:17 (9.43 MB/s) - ‘ch.csv’ saved [213061/213061]

Start executing python 
* setup ENV variables for spark

*(4)*

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.1-bin-hadoop2.7"

import libs and start spark session

*(5)*

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

# get a spark session. 
spark = SparkSession.builder.master("local[*]").getOrCreate()

* read one csv 
* create columns filter
* create new dataframe
* rename columns in new dataframe

*(7)*

In [29]:

ss_ = spark.read.csv("ss.csv", header= True, 
                      inferSchema = True)

print(ss_.columns)

columns_lambda = lambda k: k.endswith(', Current week')

common_cols = ['Reporting Area','MMWR Year','MMWR Week']

ss_cols = list(filter(columns_lambda, ss_.columns))


to_keep = common_cols + ss_cols

dfss = ss_.select(*to_keep).withColumnRenamed('Reporting Area', 'area').withColumnRenamed('MMWR Year','year').withColumnRenamed('MMWR Week','week')
dfss.columns

['Reporting Area', 'MMWR Year', 'MMWR Week', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week, flag', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Previous 52 weeks Med', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Previous 52 weeks Med, flag', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Previous 52 weeks Max', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Previous 52 weeks Max, flag', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Cum 2018', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Cum 2018, flag', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Cum 2017', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Cum 2017, flag', 'Shiga toxin-producing Escherichia coli, Current week', 'Shiga toxin-producing Escherichia coli, Current week, flag', 'Shiga toxin-producing Escherichia coli, Previous 52 weeks Med', 'Shiga toxin-producing Escherichia coli, Previous 52 weeks Med, flag', 'Shiga toxin-producing Escherichia coli, Previous 52 weeks Max', 'Shiga toxin-producing Escherichia coli, Previous 52 weeks Max, flag', 'Shiga toxin-producing Escherichia coli, Cum 2018', 'Shiga toxin-producing Escherichia coli, Cum 2018, flag', 'Shiga toxin-producing Escherichia coli, Cum 2017', 'Shiga toxin-producing Escherichia coli, Cum 2017, flag', 'Shigellosis, Current week', 'Shigellosis, Current week, flag', 'Shigellosis, Previous 52 weeks Med', 'Shigellosis, Previous 52 weeks Med, flag', 'Shigellosis, Previous 52 weeks Max', 'Shigellosis, Previous 52 weeks Max, flag', 'Shigellosis, Cum 2018', 'Shigellosis, Cum 2018, flag', 'Shigellosis, Cum 2017', 'Shigellosis, Cum 2017, flag']

['area',
 'year',
 'week',
 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week',
 'Shiga toxin-producing Escherichia coli, Current week',
 'Shigellosis, Current week']

* repeat the same for another CSV

In [30]:
ch_ = spark.read.csv("ch.csv", header= True, 
                      inferSchema = True)

ch_cols = list(filter(columns_lambda, ch_.columns))


to_keep = common_cols + ch_cols

chss = ch_.select(*to_keep).withColumnRenamed('Reporting Area', 'area').withColumnRenamed('MMWR Year','year').withColumnRenamed('MMWR Week','week')

chss.columns

['area',
 'year',
 'week',
 'Chlamydia trachomatis infection, Current week',
 'Coccidioidomycosis, Current week']

* create colum list for joined dataframe
* join two dataframes on common columns: ['area', 'year', 'week']
* select only a few columns
* display schema of final dataframe

*(10)*

In [31]:
to_keep = [chss.area, chss.year, chss.week] + ss_cols + ch_cols

chss = chss.join(dfss, [chss.area == dfss.area, chss.week == dfss.week ,chss.year == dfss.year]).select(*to_keep)
chss.show(10)
chss.printSchema()

+-------------+----+----+---------------------------------------------------------------------------+----------------------------------------------------+-------------------------+---------------------------------------------+--------------------------------+
|         area|year|week|Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week|Shiga toxin-producing Escherichia coli, Current week|Shigellosis, Current week|Chlamydia trachomatis infection, Current week|Coccidioidomycosis, Current week|
+-------------+----+----+---------------------------------------------------------------------------+----------------------------------------------------+-------------------------+---------------------------------------------+--------------------------------+
|UNITED STATES|2018|   1|                                                                          9|                                                  15|                       50|                                         3741|                             262|
|  NEW ENGLAND|2018|   1|                                                                       null|                                                null|                     null|                                            9|                            null|
|MID. ATLANTIC|2018|   1|                                                                          9|                                                   3|                       12|                                          932|                            null|
|NEW YORK CITY|2018|   1|                                                                          9|                                                   1|                       10|                                         null|                            null|
| E.N. CENTRAL|2018|   1|                                                                       null|                                                   5|                       12|                                         1017|                            null|
| W.N. CENTRAL|2018|   1|                                                                       null|                                                   3|                        3|                                          171|                               1|
|  S. ATLANTIC|2018|   1|                                                                       null|                                                   1|                        8|                                          411|                            null|
| E.S. CENTRAL|2018|   1|                                                                       null|                                                null|                       10|                                          150|                            null|
| W.S. CENTRAL|2018|   1|                                                                       null|                                                   1|                        1|                                           11|                            null|
|     MOUNTAIN|2018|   1|                                                                       null|                                                null|                        2|                                          481|                             261|
+-------------+----+----+---------------------------------------------------------------------------+----------------------------------------------------+-------------------------+---------------------------------------------+--------------------------------+
only showing top 10 rows

root
 |-- area: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week: integer (nullable = true)
 |-- Shiga toxin-producing Escherichia coli, Current week: integer (nullable = true)
 |-- Shigellosis, Current week: integer (nullable = true)
 |-- Chlamydia trachomatis infection, Current week: integer (nullable = true)
 |-- Coccidioidomycosis, Current week: integer (nullable = true)

* show total for each "_ , Current Week" columns by state for a year. Where these Virginia islands anyway?

*(13)*

In [39]:
chss.groupBy(['area', 'year']).sum(*(ss_cols + ch_cols)).orderBy(['area', 'year']).show(60)

+--------------+----+--------------------------------------------------------------------------------+---------------------------------------------------------+------------------------------+--------------------------------------------------+-------------------------------------+
|          area|year|sum(Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week)|sum(Shiga toxin-producing Escherichia coli, Current week)|sum(Shigellosis, Current week)|sum(Chlamydia trachomatis infection, Current week)|sum(Coccidioidomycosis, Current week)|
+--------------+----+--------------------------------------------------------------------------------+---------------------------------------------------------+------------------------------+--------------------------------------------------+-------------------------------------+
|       ALABAMA|2018|                                                                             240|                                                       17|                            65|                                              2917|                                 null|
|        ALASKA|2018|                                                                            null|                                                       11|                             6|                                               403|                                 null|
|   AMER. SAMOA|2018|                                                                            null|                                                     null|                          null|                                              null|                                 null|
|       ARIZONA|2018|                                                                             640|                                                      174|                           285|                                             25315|                                 7996|
|      ARKANSAS|2018|                                                                             100|                                                       56|                            88|                                              4267|                                    2|
|      C.N.M.I.|2018|                                                                            null|                                                     null|                          null|                                              null|                                 null|
|    CALIFORNIA|2018|                                                                             208|                                                     null|                           233|                                             16779|                                  569|
|      COLORADO|2018|                                                                             575|                                                      273|                           129|                                             16788|                                 null|
|   CONNECTICUT|2018|                                                                               5|                                                        8|                            17|                                               263|                                 null|
|      DELAWARE|2018|                                                                               1|                                                     null|                          null|                                              2028|                                 null|
| DIST. OF COL.|2018|                                                                            null|                                                        1|                             1|                                              2155|                                 null|
|  E.N. CENTRAL|2018|                                                                            1229|                                                      669|                           519|                                             71469|                                   18|
|  E.S. CENTRAL|2018|                                                                             461|                                                       63|                           138|                                             26784|                                 null|
|       FLORIDA|2018|                                                                             338|                                                       82|                           196|                                             58741|                                 null|
|       GEORGIA|2018|                                                                              39|                                                       15|                           135|                                             18774|                                 null|
|          GUAM|2018|                                                                            null|                                                     null|                          null|                                              null|                                 null|
|        HAWAII|2018|                                                                              13|                                                        1|                            13|                                                 8|                                 null|
|         IDAHO|2018|                                                                             156|                                                      142|                            30|                                              2087|                                 null|
|      ILLINOIS|2018|                                                                            null|                                                     null|                          null|                                              2153|                                 null|
|       INDIANA|2018|                                                                            null|                                                     null|                          null|                                             14875|                                 null|
|          IOWA|2018|                                                                             254|                                                       46|                            25|                                              1749|                                 null|
|        KANSAS|2018|                                                                              25|                                                        6|                          null|                                              5294|                                 null|
|      KENTUCKY|2018|                                                                              49|                                                       20|                             8|                                               333|                                 null|
|     LOUISIANA|2018|                                                                             404|                                                       16|                            85|                                             23976|                                    5|
|         MAINE|2018|                                                                              57|                                                       12|                             5|                                               733|                                 null|
|      MARYLAND|2018|                                                                             568|                                                      112|                           163|                                             11356|                                    3|
| MASSACHUSETTS|2018|                                                                              72|                                                        3|                            48|                                              5405|                                 null|
|      MICHIGAN|2018|                                                                               7|                                                       12|                             7|                                             12428|                                 null|
| MID. ATLANTIC|2018|                                                                            2100|                                                      416|                          1277|                                            138734|                                 null|
|     MINNESOTA|2018|                                                                            null|                                                     null|                          null|                                               426|                                    9|
|   MISSISSIPPI|2018|                                                                              76|                                                        1|                            32|                                             12731|                                 null|
|      MISSOURI|2018|                                                                             824|                                                      207|                           218|                                             16478|                                    5|
|       MONTANA|2018|                                                                              10|                                                       16|                          null|                                              2847|                                    5|
|      MOUNTAIN|2018|                                                                            1490|                                                      637|                           470|                                             60461|                                 8005|
|      NEBRASKA|2018|                                                                            null|                                                      125|                            32|                                              2696|                                 null|
|        NEVADA|2018|                                                                              20|                                                        5|                             4|                                              1260|                                    2|
|   NEW ENGLAND|2018|                                                                             194|                                                       44|                            83|                                             11063|                                 null|
| NEW HAMPSHIRE|2018|                                                                              11|                                                        4|                          null|                                              2464|                                 null|
|    NEW JERSEY|2018|                                                                               3|                                                     null|                             4|                                             12001|                                 null|
|    NEW MEXICO|2018|                                                                               3|                                                       10|                            11|                                              5526|                                    1|
|      NEW YORK|2018|                                                                             452|                                                      254|                           407|                                             46499|                                 null|
| NEW YORK CITY|2018|                                                                             933|                                                       23|                           784|                                             36543|                                 null|
|NORTH CAROLINA|2018|                                                                            null|                                                     null|                             1|                                               483|                                 null|
|  NORTH DAKOTA|2018|                                                                               3|                                                        8|                             1|                                               331|                                 null|
|          OHIO|2018|                                                                            1038|                                                      495|                           458|                                             26189|                                   18|
|      OKLAHOMA|2018|                                                                              11|                                                      148|                            75|                                              2332|                                 null|
|        OREGON|2018|                                                                              68|                                                      137|                           133|                                             18942|                                    5|
|       PACIFIC|2018|                                                                             455|                                                      325|                           596|                                             62898|                                  574|
|  PENNSYLVANIA|2018|                                                                             712|                                                      139|                            82|                                             43691|                                 null|
|   PUERTO RICO|2018|                                                                            null|                                                     null|                          null|                                              2449|                                 null|
|  RHODE ISLAND|2018|                                                                              26|                                                        4|                             4|                                              2115|                                 null|
|   S. ATLANTIC|2018|                                                                            1632|                                                      457|                           698|                                            162918|                                    3|
|SOUTH CAROLINA|2018|                                                                            null|                                                       55|                           102|                                             27391|                                 null|
|  SOUTH DAKOTA|2018|                                                                               1|                                                        1|                          null|                                               873|                                 null|
|     TENNESSEE|2018|                                                                              96|                                                       25|                            33|                                             10803|                                 null|
|         TEXAS|2018|                                                                            null|                                                      102|                           574|                                             91873|                                 null|
| UNITED STATES|2018|                                                                            9183|                                                     3326|                          4879|                                            684622|                                 8621|
|          UTAH|2018|                                                                              82|                                                       15|                            11|                                              5247|                                 null|
|       VERMONT|2018|                                                                              23|                                                       13|                             9|                                                83|                                 null|
|   VIRGIN ISL.|2018|                                                                            null|                                                     null|                          null|                                              null|                                 null|
+--------------+----+--------------------------------------------------------------------------------+---------------------------------------------------------+------------------------------+--------------------------------------------------+-------------------------------------+
only showing top 60 rows

Le's focus on Midwest: 
* Illinois 
* Indiana 
* Iowa 
* Michigan 
* Minnesota 
* Missouri 
* Ohio 
* Wisconsin

Show stats from DataFrame
Convert to pandas
Show stats

*(15)*

In [55]:
midwest = list(map( lambda k: k.upper() , ['Illinois', 'Indiana', 'Iowa', 'Michigan', 'Minnesota', 'Missouri' , 'Ohio' ,'Wisconsin' ]))

midwest_df = chss.filter( chss.area.isin(*midwest)).groupBy(['area', 'year']).sum(*(ss_cols + ch_cols)).orderBy(['area', 'year'])
midwest_df.show(8)

midwest_df.summary().show()

pd = midwest_df.toPandas()
pd.describe()
pd.info()

+---------+----+--------------------------------------------------------------------------------+---------------------------------------------------------+------------------------------+--------------------------------------------------+-------------------------------------+
|     area|year|sum(Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week)|sum(Shiga toxin-producing Escherichia coli, Current week)|sum(Shigellosis, Current week)|sum(Chlamydia trachomatis infection, Current week)|sum(Coccidioidomycosis, Current week)|
+---------+----+--------------------------------------------------------------------------------+---------------------------------------------------------+------------------------------+--------------------------------------------------+-------------------------------------+
| ILLINOIS|2018|                                                                            null|                                                     null|                          null|                                              2153|                                 null|
|  INDIANA|2018|                                                                            null|                                                     null|                          null|                                             14875|                                 null|
|     IOWA|2018|                                                                             254|                                                       46|                            25|                                              1749|                                 null|
| MICHIGAN|2018|                                                                               7|                                                       12|                             7|                                             12428|                                 null|
|MINNESOTA|2018|                                                                            null|                                                     null|                          null|                                               426|                                    9|
| MISSOURI|2018|                                                                             824|                                                      207|                           218|                                             16478|                                    5|
|     OHIO|2018|                                                                            1038|                                                      495|                           458|                                             26189|                                   18|
|WISCONSIN|2018|                                                                             184|                                                      162|                            54|                                             15824|                                 null|
+---------+----+--------------------------------------------------------------------------------+---------------------------------------------------------+------------------------------+--------------------------------------------------+-------------------------------------+

+-------+---------+------+--------------------------------------------------------------------------------+---------------------------------------------------------+------------------------------+--------------------------------------------------+-------------------------------------+
|summary|     area|  year|sum(Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week)|sum(Shiga toxin-producing Escherichia coli, Current week)|sum(Shigellosis, Current week)|sum(Chlamydia trachomatis infection, Current week)|sum(Coccidioidomycosis, Current week)|
+-------+---------+------+--------------------------------------------------------------------------------+---------------------------------------------------------+------------------------------+--------------------------------------------------+-------------------------------------+
|  count|        8|     8|                                                                               5|                                                        5|                             5|                                                 8|                                    3|
|   mean|     null|2018.0|                                                                           461.4|                                                    184.4|                         152.4|                                          11265.25|                   10.666666666666666|
| stddev|     null|   0.0|                                                              444.51974084398097|                                       191.28591166105255|             190.2295981176431|                                 9072.226183719817|                   6.6583281184793925|
|    min| ILLINOIS|  2018|                                                                               7|                                                       12|                             7|                                               426|                                    5|
|    25%|     null|  2018|                                                                             184|                                                       46|                            25|                                              1749|                                    5|
|    50%|     null|  2018|                                                                             254|                                                      162|                            54|                                             12428|                                    9|
|    75%|     null|  2018|                                                                             824|                                                      207|                           218|                                             15824|                                   18|
|    max|WISCONSIN|  2018|                                                                            1038|                                                      495|                           458|                                             26189|                                   18|
+-------+---------+------+--------------------------------------------------------------------------------+---------------------------------------------------------+------------------------------+--------------------------------------------------+-------------------------------------+

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
area                                                                                8 non-null object
year                                                                                8 non-null int32
sum(Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week)    5 non-null float64
sum(Shiga toxin-producing Escherichia coli, Current week)                           5 non-null float64
sum(Shigellosis, Current week)                                                      5 non-null float64
sum(Chlamydia trachomatis infection, Current week)                                  8 non-null int64
sum(Coccidioidomycosis, Current week)                                               3 non-null float64
dtypes: float64(4), int32(1), int64(1), object(1)
memory usage: 496.0+ bytes