In [4]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
![ ! -e "$(basename spark-2.4.1-bin-hadoop2.7.tgz)" ] && wget  http://apache.osuosl.org/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
!tar xf spark-2.4.1-bin-hadoop2.7.tgz

--2019-04-09 12:28:17--  http://apache.osuosl.org/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
Resolving apache.osuosl.org (apache.osuosl.org)... 64.50.233.100, 64.50.236.52, 140.211.166.134, ...
Connecting to apache.osuosl.org (apache.osuosl.org)|64.50.233.100|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 230778742 (220M) [application/x-gzip]
Saving to: ‘spark-2.4.1-bin-hadoop2.7.tgz’

spark-2.4.1-bin-had 100%[===================>] 220.09M  24.6MB/s    in 7.9s

2019-04-09 12:28:25 (28.0 MB/s) - ‘spark-2.4.1-bin-hadoop2.7.tgz’ saved [230778742/230778742]

In [7]:
!pip install -q findspark

! [ ! -e "$(basename ss.csv)" ] && wget  https://raw.githubusercontent.com/borodark/wsu/master/platforms/assignment_4/ss.csv

! [ ! -e "$(basename ch.csv)" ] && wget  https://raw.githubusercontent.com/borodark/wsu/master/platforms/assignment_4/ch.csv

--2019-04-09 12:35:16--  https://raw.githubusercontent.com/borodark/wsu/master/platforms/assignment_4/ch.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 213061 (208K) [text/plain]
Saving to: ‘ch.csv’

ch.csv              100%[===================>] 208.07K  --.-KB/s    in 0.02s

2019-04-09 12:35:17 (9.43 MB/s) - ‘ch.csv’ saved [213061/213061]

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.1-bin-hadoop2.7"

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

# get a spark session. 
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [15]:

ss_ = spark.read.csv("ss.csv", header= True, 
                      inferSchema = True)

print(ss_.columns)

columns_lambda = lambda k: k.endswith(', Current week')

common_cols = ['Reporting Area','MMWR Year','MMWR Week']

ss_cols = list(filter(columns_lambda, ss_.columns))


to_keep = common_cols + ss_cols

dfss = ss_.select(*to_keep).withColumnRenamed('Reporting Area', 'area').withColumnRenamed('MMWR Year','year').withColumnRenamed('MMWR Week','week')
dfss.columns

['Reporting Area', 'MMWR Year', 'MMWR Week', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week, flag', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Previous 52 weeks Med', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Previous 52 weeks Med, flag', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Previous 52 weeks Max', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Previous 52 weeks Max, flag', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Cum 2018', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Cum 2018, flag', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Cum 2017', 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Cum 2017, flag', 'Shiga toxin-producing Escherichia coli, Current week', 'Shiga toxin-producing Escherichia coli, Current week, flag', 'Shiga toxin-producing Escherichia coli, Previous 52 weeks Med', 'Shiga toxin-producing Escherichia coli, Previous 52 weeks Med, flag', 'Shiga toxin-producing Escherichia coli, Previous 52 weeks Max', 'Shiga toxin-producing Escherichia coli, Previous 52 weeks Max, flag', 'Shiga toxin-producing Escherichia coli, Cum 2018', 'Shiga toxin-producing Escherichia coli, Cum 2018, flag', 'Shiga toxin-producing Escherichia coli, Cum 2017', 'Shiga toxin-producing Escherichia coli, Cum 2017, flag', 'Shigellosis, Current week', 'Shigellosis, Current week, flag', 'Shigellosis, Previous 52 weeks Med', 'Shigellosis, Previous 52 weeks Med, flag', 'Shigellosis, Previous 52 weeks Max', 'Shigellosis, Previous 52 weeks Max, flag', 'Shigellosis, Cum 2018', 'Shigellosis, Cum 2018, flag', 'Shigellosis, Cum 2017', 'Shigellosis, Cum 2017, flag']

['area',
 'year',
 'week',
 'Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week',
 'Shiga toxin-producing Escherichia coli, Current week',
 'Shigellosis, Current week']

In [16]:
ch_ = spark.read.csv("ch.csv", header= True, 
                      inferSchema = True)

ch_cols = list(filter(columns_lambda, ch_.columns))


to_keep = common_cols + ch_cols

chss = ch_.select(*to_keep).withColumnRenamed('Reporting Area', 'area').withColumnRenamed('MMWR Year','year').withColumnRenamed('MMWR Week','week')

chss.columns

['area',
 'year',
 'week',
 'Chlamydia trachomatis infection, Current week',
 'Coccidioidomycosis, Current week']

In [24]:
to_keep = [chss.area, chss.year, chss.week] + ss_cols + ch_cols

chss = chss.join(dfss, [chss.area == dfss.area, chss.week == dfss.week ,chss.year == dfss.year]).select(*to_keep)
chss.show(100)
chss.printSchema()

+--------------+----+----+---------------------------------------------------------------------------+----------------------------------------------------+-------------------------+---------------------------------------------+--------------------------------+
|          area|year|week|Salmonellosis (excluding Paratyphoid fever andTyphoid fever)†, Current week|Shiga toxin-producing Escherichia coli, Current week|Shigellosis, Current week|Chlamydia trachomatis infection, Current week|Coccidioidomycosis, Current week|
+--------------+----+----+---------------------------------------------------------------------------+----------------------------------------------------+-------------------------+---------------------------------------------+--------------------------------+
| UNITED STATES|2018|   1|                                                                          9|                                                  15|                       50|                                         3741|                             262|
|   NEW ENGLAND|2018|   1|                                                                       null|                                                null|                     null|                                            9|                            null|
| MID. ATLANTIC|2018|   1|                                                                          9|                                                   3|                       12|                                          932|                            null|
| NEW YORK CITY|2018|   1|                                                                          9|                                                   1|                       10|                                         null|                            null|
|  E.N. CENTRAL|2018|   1|                                                                       null|                                                   5|                       12|                                         1017|                            null|
|  W.N. CENTRAL|2018|   1|                                                                       null|                                                   3|                        3|                                          171|                               1|
|   S. ATLANTIC|2018|   1|                                                                       null|                                                   1|                        8|                                          411|                            null|
|  E.S. CENTRAL|2018|   1|                                                                       null|                                                null|                       10|                                          150|                            null|
|  W.S. CENTRAL|2018|   1|                                                                       null|                                                   1|                        1|                                           11|                            null|
|      MOUNTAIN|2018|   1|                                                                       null|                                                null|                        2|                                          481|                             261|
|       PACIFIC|2018|   1|                                                                       null|                                                   2|                        2|                                          559|                            null|
|   AMER. SAMOA|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|  SOUTH DAKOTA|2018|   1|                                                                       null|                                                null|                     null|                                            1|                            null|
| NEW HAMPSHIRE|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|SOUTH CAROLINA|2018|   1|                                                                       null|                                                   1|                        3|                                         null|                            null|
|      MICHIGAN|2018|   1|                                                                       null|                                                null|                     null|                                          104|                            null|
|    NEW MEXICO|2018|   1|                                                                       null|                                                null|                     null|                                            6|                            null|
|        OREGON|2018|   1|                                                                       null|                                                   2|                        2|                                          324|                            null|
|      DELAWARE|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|      NEW YORK|2018|   1|                                                                       null|                                                   1|                        1|                                          246|                            null|
|      VIRGINIA|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|   VIRGIN ISL.|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|   CONNECTICUT|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|       VERMONT|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|        KANSAS|2018|   1|                                                                       null|                                                null|                     null|                                           62|                            null|
| WEST VIRGINIA|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
| MASSACHUSETTS|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|       FLORIDA|2018|   1|                                                                       null|                                                null|                     null|                                          292|                            null|
|      ILLINOIS|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|         TEXAS|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|  RHODE ISLAND|2018|   1|                                                                       null|                                                null|                     null|                                            9|                            null|
|  PENNSYLVANIA|2018|   1|                                                                       null|                                                   1|                        1|                                          534|                            null|
|          GUAM|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|       ALABAMA|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|       GEORGIA|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|      COLORADO|2018|   1|                                                                       null|                                                null|                     null|                                          393|                            null|
|       MONTANA|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|      MARYLAND|2018|   1|                                                                       null|                                                null|                        5|                                          119|                            null|
|       ARIZONA|2018|   1|                                                                       null|                                                null|                        2|                                         null|                             261|
|    NEW JERSEY|2018|   1|                                                                       null|                                                null|                     null|                                          152|                            null|
|          IOWA|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|     LOUISIANA|2018|   1|                                                                       null|                                                null|                     null|                                           11|                            null|
|       INDIANA|2018|   1|                                                                       null|                                                null|                     null|                                          229|                            null|
|      KENTUCKY|2018|   1|                                                                       null|                                                null|                        1|                                         null|                            null|
|        HAWAII|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|       WYOMING|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|   MISSISSIPPI|2018|   1|                                                                       null|                                                null|                        4|                                           45|                            null|
|  NORTH DAKOTA|2018|   1|                                                                       null|                                                null|                     null|                                            1|                            null|
|     TENNESSEE|2018|   1|                                                                       null|                                                null|                        5|                                          105|                            null|
|        ALASKA|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|     WISCONSIN|2018|   1|                                                                       null|                                                   1|                     null|                                          219|                            null|
|    WASHINGTON|2018|   1|                                                                       null|                                                null|                     null|                                          235|                            null|
|NORTH CAROLINA|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|      MISSOURI|2018|   1|                                                                       null|                                                   3|                        3|                                          107|                               1|
|         MAINE|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|          OHIO|2018|   1|                                                                       null|                                                   4|                       12|                                          465|                            null|
|      C.N.M.I.|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|     MINNESOTA|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|      OKLAHOMA|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|          UTAH|2018|   1|                                                                       null|                                                null|                     null|                                           82|                            null|
|        NEVADA|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|   PUERTO RICO|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|         IDAHO|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|    CALIFORNIA|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|      NEBRASKA|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
|      ARKANSAS|2018|   1|                                                                       null|                                                   1|                        1|                                         null|                            null|
| DIST. OF COL.|2018|   1|                                                                       null|                                                null|                     null|                                         null|                            null|
| UNITED STATES|2018|   2|                                                                         26|                                                  25|                       53|                                         9071|                             236|
|   NEW ENGLAND|2018|   2|                                                                          1|                                                null|                     null|                                            8|                            null|
| MID. ATLANTIC|2018|   2|                                                                         19|                                                   4|                       17|                                         2569|                            null|
| NEW YORK CITY|2018|   2|                                                                         19|                                                   2|                       11|                                          749|                            null|
|  E.N. CENTRAL|2018|   2|                                                                       null|                                                   6|                       11|                                         1424|                            null|
|  W.N. CENTRAL|2018|   2|                                                                       null|                                                   3|                     null|                                          440|                            null|